/Navyblue.BaseLibrary/bin/Debug/netcoreapp3.1/Navyblue.BaseLibrary.deps.json
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.AssemblyInfo.cs
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.AssemblyInfoInputs.cache
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.assets.cache
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.csproj.CoreCompileInputs.cache
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.csproj.FileListAbsolute.txt
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.csprojAssemblyReference.cache
/Navyblue.BaseLibrary/obj/Navyblue.BaseLibrary.csproj.nuget.dgspec.json
/Navyblue.BaseLibrary/obj/Navyblue.BaseLibrary.csproj.nuget.g.props
/Navyblue.BaseLibrary/obj/Navyblue.BaseLibrary.csproj.nuget.g.targets
/Navyblue.BaseLibrary/obj/project.assets.json
/Navyblue.BaseLibrary/obj/project.nuget.cache
/.vs
/Navyblue.BaseLibrary/obj
/Navyblue.BaseLibrary/bin
/src/**/bin
/src/**/obj
/artifacts
/samples/Architecture/Architecture.Application/obj
/samples/Architecture/Architecture.Application/bin
/samples/Architecture/Architecture.Domain/obj
/samples/Architecture/Architecture.Domain/bin
/samples/Architecture/Architecture.Infrastructure/obj
/samples/Architecture/Architecture.Infrastructure/bin
/samples/Architecture/Architecture.Model/bin
/samples/Architecture/Architecture.Model/obj
/samples/Architecture/Architecture.Web/bin
/samples/Architecture/Architecture.Web/obj
/tests/Navyblue.Foundation.Cqrs.Tests/obj
/tests/Navyblue.Foundation.Cqrs.Tests/bin
/samples/Navyblue.Samples.Application/bin/Debug/net10.0
/samples/Navyblue.Samples.Application/obj
/samples/Navyblue.Samples.Domain/bin/Debug/net10.0
/samples/Navyblue.Samples.Domain/obj
/samples/Navyblue.Samples.Infrastructure/bin/Debug/net10.0
/samples/Navyblue.Samples.Infrastructure/obj
/samples/Navyblue.Samples.Model/bin/Debug/net10.0
/samples/Navyblue.Samples.Model/obj
/samples/Navyblue.Samples.Web/bin/Debug/net10.0
/samples/Navyblue.Samples.Web/obj
/samples/Navyblue.Samples/Navyblue.Samples.Domain/bin/Debug/net10.0
/samples/Navyblue.Samples/Navyblue.Samples.Domain/obj
/samples/Navyblue.Samples/Navyblue.Samples.Infrastructure/bin/Debug/net10.0
/samples/Navyblue.Samples/Navyblue.Samples.Infrastructure/obj
/samples/Navyblue.Samples/Navyblue.Samples.Model/bin/Debug/net10.0
/samples/Navyblue.Samples/Navyblue.Samples.Model/obj
/samples/Navyblue.Samples/Navyblue.Samples.Web/bin/Debug/net10.0
/samples/Navyblue.Samples/Navyblue.Samples.Web/obj
/samples/Navyblue.Samples/Navyblue.Samples.Application/bin/Debug/net10.0
/samples/Navyblue.Samples/Navyblue.Samples.Application/obj
/templates/Navyblue.WebApi/bin/Release/netstandard2.0
/templates/Navyblue.WebApi/obj
