/Navyblue.BaseLibrary/bin/Debug/netcoreapp3.1/Navyblue.BaseLibrary.deps.json
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.AssemblyInfo.cs
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.AssemblyInfoInputs.cache
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.assets.cache
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.csproj.CoreCompileInputs.cache
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.csproj.FileListAbsolute.txt
/Navyblue.BaseLibrary/obj/Debug/netcoreapp3.1/Navyblue.BaseLibrary.csprojAssemblyReference.cache
/Navyblue.BaseLibrary/obj/Navyblue.BaseLibrary.csproj.nuget.dgspec.json
/Navyblue.BaseLibrary/obj/Navyblue.BaseLibrary.csproj.nuget.g.props
/Navyblue.BaseLibrary/obj/Navyblue.BaseLibrary.csproj.nuget.g.targets
/Navyblue.BaseLibrary/obj/project.assets.json
/Navyblue.BaseLibrary/obj/project.nuget.cache
/.vs
